main {
    .banner {
        width: 100%;
        height: 370px;

        img {
            width: 100%;
        }
    }

    .focus-hot {
        width: 100%;
        min-height: 510px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 30px;

        .des {
            font-size: 20px;
            font-weight: 700;
        }

        a {
            color: #000 !important;

            span {
                margin-left: 20px;
            }

        }

        #page-list {
            color: #000 !important;
            height: 40px;

            .pagination {
                margin-left: 400px;
                width: 500px;
            }

            li {
                color: #000 !important;

                a {
                    color: #000 !important;
                }
            }


        }

        .con {
            width: 100%;
            height: 400px;
            margin-top: 20px;

            ul {
                list-style: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;


                .list1 {
                    display: flex;
                    flex-direction: column;

                    height: 440px;
                    width: 270px;

                    img {
                        height: 270px;
                        width: 100%;
                    }

                    .product-name {
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        font-weight: 700;
                        height: 30px;
                        overflow: hidden;
                    }

                    .des {
                        font-size: 12px;
                        font-weight: normal;
                    }

                    a {
                        color: #000;
                        font-size: 12px;
                        font-weight: 700;


                    }
                }
            }
        }
    }

    .tuijian {
        cursor: pointer;
        width: 100%;
        height: 700px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 30px;

        .des {
            font-size: 20px;
            font-weight: 700;
        }

        .con {
            margin-top: 20px;
            width: 100%;
            height: 660px;

            ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                list-style: none;
                align-self: flex-start;


                li {
                    width: 280px;
                    height: 280px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 280px;
                    }

                    .product-name {
                        box-sizing: content-box;
                        position: absolute;
                        bottom: 25px;
                        left: 10px;
                        height: 30px;
                        width: 220px;
                        line-height: 30px;
                        font-size: 13px;
                        text-align: center;
                        font-weight: 700;
                        background: #fff;
                        padding-left: 20px;
                        padding-right: 20px;
                        overflow: hidden;
                    }
                }
            }
        }
    }



    .pingtai {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;

        .des {
            font-size: 20px;
            font-weight: 700;
        }

        .img {
            margin-top: 25px;
            margin-bottom: 30px;

            a {
                img {
                    width: 565px;
                    height: 300px;
                }
            }
        }
    }
}