@font-face {
  font-family: "iconfont"; /* Project id 3257880 */
  src: url('iconfont.woff2?t=1652152399685') format('woff2'),
       url('iconfont.woff?t=1652152399685') format('woff'),
       url('iconfont.ttf?t=1652152399685') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adidasi:before {
  content: "\e647";
}

.icon-tianmaobaoyouqia:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-laba:before {
  content: "\e602";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-shaixuan:before {
  content: "\e60d";
}

.icon-zhifubaozhifu:before {
  content: "\e634";
}

.icon-anquanzhongxin:before {
  content: "\e895";
}

.icon-zaixiankefu:before {
  content: "\e61c";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-youjiantou:before {
  content: "\e603";
}

.icon-info-circle:before {
  content: "\e77e";
}

.icon-peisongjilu:before {
  content: "\eb46";
}

.icon-line-stickynotebianlitie-02:before {
  content: "\e742";
}

.icon-feijichang:before {
  content: "\e623";
}

.icon-hahaha:before {
  content: "\e60e";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-yaoyiyao:before {
  content: "\e6aa";
}

.icon-saoyisao:before {
  content: "\e891";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-xiazai:before {
  content: "\e8bc";
}

